<section class="page-content display-game">
    <audio  src="game/sounds/Mario.mp3" loop="loop" id="soundtrack"></audio>
            <audio  src="game/sounds/saut.wav" id="jump_sound"></audio>
            <audio  src="game/sounds/coin.wav" id="coin_sound"></audio>
            <audio  src="game/sounds/bump.wav" id="bump_sound"></audio>
            <audio  src="game/sounds/Hurry.mp3" id="hurry_sound"></audio>
            <audio  src="game/sounds/Player%20Dies.mp3" id="death_sound"></audio>
            <audio  src="game/sounds/Hurry%20Overworld.mp3" id="hurry_soundtrack" loop="loop"></audio>
            <audio  src="game/sounds/Castle%20Complete.mp3" id="ending_sound"></audio>
        <div class="introduction-game">
            <div class="div-instructions">
                <h2>HAVE FUN !</h2>
                <p>
                    You have 60 seconds to reach the castle. Collect the pieces on the way and you will win.
                </p>
            </div>
            <div class="div-controllers">
                <img src="images/game/keys.png" class="keys-image" alt="image of the controllers">
                </br>
                <span id="backward">BACKWARD</span>
                <span id="jump">JUMP</span>
                <span id="forward">FORWARD</span>
            </div>
            <a href="" class="link-button start-button">START</a>
        </div>
        <div class="game-container">
            <div class="timer"></div>
            <div class="coins"><img src="images/game/coin.gif"><p> : 0</p></div>
            <div id="background"alt="background">
                <div class="character">
                    <img src="images/game/MarioStanding.jpg" alt="Mario">
                </div>
                <div class="coin-block block" id="coin-block1"></div>
                <div class="coin-block block" id="coin-block2"></div>
                <div class="coin-block block" id="coin-block3"></div>
                <div class="coin-block block" id="coin-block4"></div>
                <div class="coin-block block" id="coin-block5"></div>
                <div class="coin-block block" id="coin-block6"></div>
                <div class="coin-block block" id="coin-block7"></div>
                <div class="coin-block block" id="coin-block8"></div>
                <div class="coin-block block" id="coin-block9"></div>
                <div class="coin-block block" id="coin-block10"></div>
                <div class="coin-block block" id="coin-block11"></div>
                <div class="coin-block block" id="coin-block12"></div>
                <div class="coin-block block" id="coin-block13"></div>
                <div class="pipe small-pipe" id="pipe1"></div>
                <div class="pipe medium-pipe" id="pipe2"></div>
                <div class="pipe large-pipe" id="pipe3"></div>
                <div class="pipe large-pipe" id="pipe4"></div>
                <div class="pipe small-pipe" id="pipe5"></div>
                <div class="pipe small-pipe" id="pipe6"></div>
            </div><!-- div.background -->

            <div class="win">
                <img src="images/game/youwinblanc.png" alt="win" height="150px" width="150px">
            </div>

            <div class="gameOver">
                <img src="images/game/gameOver.png" alt="win" height="100" width="300px">
            </div>

        </div>
        <script src="game/game.js"></script>
        <script src="game/script.js"></script>
</section><!-- end page-content.section-->
