<section class="page-content">
    <h1>CONTACT ME</h1>
    <form class="contact-form">
            <input type="hidden"><br/>
            <input type="text" placeholder="Subject"maxlength="100"><br/>
            <textarea rows="25" placeholder="Enter your message" maxlength="5000"></textarea>
    </form>
    <a href="#/bonus" class="link-button">Bonus</a>
</section><!-- end page-content.section-->

<?php
$to      = 'nobody@example.com';
$subject = 'the subject';
$message = 'hello';
$headers = 'From: webmaster@example.com' . "\r\n" .
    'Reply-To: webmaster@example.com' . "\r\n" .
    'X-Mailer: PHP/' . phpversion();

mail($to, $subject, $message, $headers);
?>
