<section class="page-content">
    <h1>CONTACT ME</h1>
    <form ng-submit="submit()" class="contact-form">
            <input type="hidden" name="submit">
            <input type="text" name="name" placeholder="Name" maxlength="50" class="input-text">
            <input type="text" name="mail" placeholder="email" maxlength="50" class="input-text">
            <input type="text" name="subject" placeholder="Subject"maxlength="100" class="input-text">
            <textarea rows="25" name="message" placeholder="Enter your message" maxlength="5000" class="input-text"></textarea>
            <input type="submit" class="send-button link-button" name="submit-button" value="Send">
    </form>
</section><!-- end page-content.section-->
