<a href="#/home"><section class="logo"><p>MDC</p></section></a>
<nav class="nav-bar" ng-controller="toggleController">
    <div id="toggle-image">
      <img  src="images/menuToggle.png" ng-click="toggleMenu()">
    </div>
    <div ng-hide="menu">
      <ul class="" >
        <a href="#/work"><li>Work</li></a>
        <a href="#/aboutme"><li>About me</li></a>
        <a href="#/contactme"><li>Contact me</li></a>
        <a href="#/bonus"><li>Bonus</li></a>
      </ul>
    </div>
</nav><!-- end nav-bar -->
