<section class="page-content">
    <h1>WORK</h1>
    <div class="work-div" ng-repeat="work in works" >
        <h2 class="work-name">{{ work.name }}</h2>
        <b><p>Technologies</>: <span class="technology-div" ng-repeat="technology in work.technologies">
            {{ technology}}{{$last ? '' : ', '}}
        </span></p></b>
        <p class="work-description">{{ work.description }}</p>
        <img class="work-image" ng-src="{{ work.image }}">
    </div>
    <a href="#/aboutme" class="link-button">About me</a>
</section><!-- end page-content.section-->
